#app {
    background-color: #0d192b;
}

.super-rounded {
    border-radius: 10px;
}

.card {
    background-color: #14253d;
}

.text-light-blue {
    color: #8bacda !important;
}

.card-img-top {
    border-radius: 10px;
}

.avatar-border {
    border: 1px solid white;
    border-radius: 15px;
}

.text-cyan {
    color: hsl(178, 100%, 50%);
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card:hover .change-on-select {
    color: aqua !important;
}

.card:hover .card-img-top {
    border: 1px solid aqua;
}

hr {
    color: grey;
}
